/* AUTHOR: Justine Lucas */
/* General styles for body and html */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #FFDEE9 0%, #B5FFFC 100%);
  }
  
  /* Hero image styles */
  /* Hero image container */
.hero-image {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%;   /* Full viewport width */
    overflow: hidden; /* Prevent video overflow */
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the area without distortion */
    z-index: -1; /* Ensure the video is behind the text */
    visibility: visible; /* Ensure video is visible */
}

/* Hero text styling */
.hero-text {
    z-index: 1;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
}

/* Logo positioning */
.logo {
    width: 30vh;  /* Set a fixed width for the logo */
    height: auto;  /* Maintain aspect ratio */
    margin-bottom: -60px; 
}

.hero-text h1 {
    font-size: 70px; /* Larger font size for emphasis */
    font-weight: bold; /* Make the text bold */
    color: #fff; /* Base color */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0); /* Glow effect */
    letter-spacing: 8px; /* Increase spacing between letters */
    background: linear-gradient(90deg, #0077ff, #cec70d, #ffffff);
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text background visible */
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px; /* Adjust font size */
    margin-bottom: 20px; /* Add space between p and buttons */
}

/* Flexbox for buttons to appear side by side */
.hero-text .buttons-container {
    display: flex; /* Use flexbox */
    gap: 20px; /* Space between buttons */
}

/* Styling for buttons */
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #B5FFFC;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px; /* Add rounded corners */
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.hero-text button:hover {
    background-color: #055250;
    color: white;
}

/* Footer styling */
.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-link:hover {
    text-decoration: underline;
}